<%=form_for(@user) do |f|%>
    <%= render 'shared/errors',object: @user%>
    <fieldset>
      <ol>
        <li class="required">
          <%=f.label :name%>
          <%=f.text_field :name,legth:40,autofocus:true%>
        </li>
        <li class="'required">
          <%=f.label :username%>
          <%=f.text_field :username,lenght:40,placeholder:"Alphanumeric chars only"%>
        </li>
        <li class="'required">
          <%=f.label :email%>
          <%=f.text_field :email%>
        </li>
        <li calss="'required">
          <%=f.label :password%>
          <%=f.password_field :password%>
        </li>
        <li class="required">
          <%=f.label :password_confirmation,'Confirm Password'%>
          <%=f.password_field :password_confirmation%>
        </li>
      </ol>
      <p>
        <%if @user.new_record?%>
            <%=f.submit "Create Account" %>
            <%else%>
        <%=f.submit 'Update Account'%>
            <%end%>
      </p>
    </fieldset>
<%end%>